{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:product_upload_excel' %}" class="addlink">Import Excel</a>
    </li>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block footer %}
    {{ block.super }}
    {# Remove or comment out the auto-submit code if you prefer manual saving #}
    {#
    <script>
        (function($) {
            $(document).ready(function(){
                $('select[name^="assigned_to"]').change(function(){
                    $(this).closest('form').submit();
                });
            });
        })(django.jQuery);
    </script>
    #}
{% endblock %}
